In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

In [3]:
df.head(2)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)

In [4]:
set(df['Launch_Site'])

{'CCAFS LC-40', 'CCAFS SLC-40', 'KSC LC-39A', 'VAFB SLC-4E'}

In [5]:
## Task 2

In [6]:
df_CCA01= df[df['Launch_Site']=='CCAFS LC-40']

In [7]:
df_CCA= df[df['Launch_Site'].str.contains('CCA')]

In [8]:
set(df_CCA['Launch_Site'])

{'CCAFS LC-40', 'CCAFS SLC-40'}

In [9]:
df_CCA.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [10]:
# Task3

In [11]:
df_Mass=df[['PAYLOAD_MASS__KG_', 'Booster_Version']]
df_Mass

     PAYLOAD_MASS__KG_ Booster_Version
0                    0  F9 v1.0  B0003
1                    0  F9 v1.0  B0004
2                  525  F9 v1.0  B0005
3                  500  F9 v1.0  B0006
4                  677  F9 v1.0  B0007
..                 ...             ...
96                4311    F9 B5B1062.1
97               12500   F9 B5B1061.1
98                1192    F9 B5B1063.1
99               15600  F9 B5 B1049.7
100               2972  F9 B5 B1058.4

[101 rows x 2 columns]

In [12]:
# Task4

In [13]:
print(set(df_Mass['Booster_Version']))

{'F9 B4 B1045.2', 'F9 B5 B1049.5', 'F9 v1.1 B1013', 'F9 v1.0  B0003', 'F9 FT B1030', 'F9 FT B1020', 'F9 FT  B1031.2', 'F9 v1.0  B0006', 'F9 FT B1032.1', 'F9 B4 B1043.1', 'F9 v1.0  B0007', 'F9 B5B1054', 'F9 B5 B1051.4', 'F9 B5 B1049.2', 'F9 B5 B1047.3 ', 'F9 B5 B1049.3', 'F9 FT  B1032.2', 'F9 B4 B1044', 'F9 B5B1051.1', 'F9 v1.0  B0005', 'F9 FT B1023.1', 'F9 FT  B1038.2', 'F9 B5 B1047.2', 'F9 v1.1', 'F9 B5B1050', 'F9 v1.1 B1016', 'F9 B4  B1040.2', 'F9 B5 B1056.3 ', 'F9 B5 B1058.2 ', 'F9 B4  B1039.2', 'F9 v1.1 B1017', 'F9 FT B1034', 'F9 B5 B1051.6', 'F9 B5B1049.1', 'F9 B5 B1051.2 ', 'F9 FT B1035.1', 'F9 FT B1036.1', 'F9 v1.1 B1018', 'F9 v1.1 B1012', 'F9 B5B1059.1', 'F9 B5 B1049.6', 'F9 FT  B1035.2', 'F9 B5 B1059.2', 'F9 B5 B1048.4', 'F9 B5 B1048.2', 'F9 B5 B1060.2 ', 'F9 B4  B1043.2', 'F9 B5 B1049.4', 'F9 v1.1 B1014', 'F9 FT B1024', 'F9 B5B1061.1 ', 'F9 B4 B1041.1', 'F9 B5 B1046.3', 'F9 FT B1019', 'F9 B5 B1049.7 ', 'F9 B5 B1060.3', 'F9 B5 B1048.5', 'F9 B5B1056.1 ', 'F9 B5 B1056.4', 'F9 FT B1025.1', 'F9 v1.1 B1015', 'F9 B5 B1051.5', 'F9 B4  B1041.2', 'F9 B5B1060.1', 'F9 B5B1062.1', 'F9 FT B1038.1', 'F9 B4 B1045.1', 'F9 v1.1  B1003', 'F9 v1.1 B1010', 'F9 B5B1047.1', 'F9 B5B1048.1', 'F9 FT B1026', 'F9 B4 B1042.1', 'F9 FT B1037', 'F9 B5 B1046.4', 'F9 FT B1021.1', 'F9 v1.0  B0004', 'F9 FT  B1036.2', 'F9 FT B1022', 'F9 B5 B1046.2', 'F9 B5B1058.1 ', 'F9 B4 B1040.1', 'F9 B5 B1056.2 ', 'F9 FT  B1029.2', 'F9 v1.1 B1011', 'F9 FT B1031.1', 'F9 B5 B1048.3', 'F9 B5 B1051.3', 'F9 B5B1063.1', 'F9 B5 B1058.4 ', 'F9 B4 B1039.1', 'F9 B5 B1059.3', 'F9 B5 B1059.4', 'F9 FT  B1021.2', 'F9 B5  B1046.1', 'F9 B5 B1058.3 ', 'F9 FT B1029.1'}

In [14]:
df_F9= df_Mass[df_Mass['Booster_Version'].str.contains("F9 v1.1")]

In [15]:
df_F9['PAYLOAD_MASS__KG_'].mean()

2534.6666666666665

In [16]:
df_F9

    PAYLOAD_MASS__KG_ Booster_Version
5                 500  F9 v1.1  B1003
6                3170         F9 v1.1
7                3325         F9 v1.1
8                2296         F9 v1.1
9                1316         F9 v1.1
10               4535         F9 v1.1
11               4428   F9 v1.1 B1011
12               2216   F9 v1.1 B1010
13               2395   F9 v1.1 B1012
14                570   F9 v1.1 B1013
15               4159   F9 v1.1 B1014
16               1898   F9 v1.1 B1015
17               4707   F9 v1.1 B1016
18               1952   F9 v1.1 B1018
20                553   F9 v1.1 B1017

In [17]:
# Task 5

In [18]:
df_Date=df[['Date', 'Landing_Outcome']]

In [19]:
df_Date

           Date      Landing_Outcome
0    2010-06-04  Failure (parachute)
1    2010-12-08  Failure (parachute)
2    2012-05-22           No attempt
3    2012-10-08           No attempt
4    2013-03-01           No attempt
..          ...                  ...
96   2020-11-05              Success
97   2020-11-16              Success
98   2020-11-21              Success
99   2020-11-25              Success
100  2020-12-06              Success

[101 rows x 2 columns]

In [20]:
df_date= df_Date[df_Date['Landing_Outcome']=='Success']

In [21]:
df_date

           Date Landing_Outcome
57   2018-07-22         Success
58   2018-07-25         Success
59   2018-08-07         Success
60   2018-09-10         Success
61   2018-10-08         Success
62   2018-11-15         Success
63   2018-12-03         Success
66   2019-01-11         Success
67   2019-02-22         Success
68   2019-03-02         Success
69   2019-05-04         Success
70   2019-05-24         Success
71   2019-06-12         Success
72   2019-07-25         Success
74   2019-11-11         Success
75   2019-12-05         Success
76   2019-12-17         Success
77   2020-01-07         Success
79   2020-01-29         Success
81   2020-03-07         Success
83   2020-04-22         Success
84   2020-05-30         Success
85   2020-06-04         Success
86   2020-06-13         Success
87   2020-06-30         Success
88   2020-07-20         Success
89   2020-08-07         Success
90   2020-08-18         Success
91   2020-08-30         Success
92   2020-09-03         Success
93   2020-10-06         Success
94   2020-10-18         Success
95   2020-10-24         Success
96   2020-11-05         Success
97   2020-11-16         Success
98   2020-11-21         Success
99   2020-11-25         Success
100  2020-12-06         Success

In [22]:
df_date.min()

Date               2018-07-22
Landing_Outcome       Success
dtype: object

In [23]:
# Task 6

In [24]:
set(df['Landing_Outcome'])

{'Controlled (ocean)',
 'Failure',
 'Failure (drone ship)',
 'Failure (parachute)',
 'No attempt',
 'No attempt ',
 'Precluded (drone ship)',
 'Success',
 'Success (drone ship)',
 'Success (ground pad)',
 'Uncontrolled (ocean)'}

In [25]:
df_booster = df[['Landing_Outcome','Booster_Version', 'PAYLOAD_MASS__KG_']]

In [26]:
df_booster

         Landing_Outcome Booster_Version  PAYLOAD_MASS__KG_
0    Failure (parachute)  F9 v1.0  B0003                  0
1    Failure (parachute)  F9 v1.0  B0004                  0
2             No attempt  F9 v1.0  B0005                525
3             No attempt  F9 v1.0  B0006                500
4             No attempt  F9 v1.0  B0007                677
..                   ...             ...                ...
96               Success    F9 B5B1062.1               4311
97               Success   F9 B5B1061.1               12500
98               Success    F9 B5B1063.1               1192
99               Success  F9 B5 B1049.7               15600
100              Success  F9 B5 B1058.4                2972

[101 rows x 3 columns]

In [27]:
df_boost= df.loc[(df['PAYLOAD_MASS__KG_'] > 4000) & (df['PAYLOAD_MASS__KG_'] < 6000) & (df['Landing_Outcome']=='Success (drone ship)')]

In [28]:
set(df_boost['Booster_Version'])

{'F9 FT  B1021.2', 'F9 FT  B1031.2', 'F9 FT B1022', 'F9 FT B1026'}

In [29]:
# Task 7

In [30]:
set(df['Mission_Outcome'])

{'Failure (in flight)',
 'Success',
 'Success ',
 'Success (payload status unclear)'}

In [31]:
df['Mission_Outcome'].value_counts()

Mission_Outcome
Success                             98
Failure (in flight)                  1
Success (payload status unclear)     1
Success                              1
Name: count, dtype: int64

In [32]:
# Task 8

In [33]:
max_payloadmass = df['PAYLOAD_MASS__KG_'].max()

In [34]:
max_payloadmass

15600

In [35]:
df_boost_maxmass= df[df['PAYLOAD_MASS__KG_']==max_payloadmass]

In [36]:
print(set(df_boost_maxmass['Booster_Version']))

{'F9 B5 B1051.3', 'F9 B5 B1056.4', 'F9 B5 B1051.6', 'F9 B5 B1060.2 ', 'F9 B5 B1049.5', 'F9 B5 B1049.4', 'F9 B5 B1049.7 ', 'F9 B5 B1060.3', 'F9 B5 B1048.5', 'F9 B5 B1048.4', 'F9 B5 B1058.3 ', 'F9 B5 B1051.4'}

In [37]:
# Task 9

In [38]:
import datetime

In [39]:
df_9=df[['Date', 'Landing_Outcome','Booster_Version','Launch_Site']]

In [40]:
df_9

           Date      Landing_Outcome Booster_Version   Launch_Site
0    2010-06-04  Failure (parachute)  F9 v1.0  B0003   CCAFS LC-40
1    2010-12-08  Failure (parachute)  F9 v1.0  B0004   CCAFS LC-40
2    2012-05-22           No attempt  F9 v1.0  B0005   CCAFS LC-40
3    2012-10-08           No attempt  F9 v1.0  B0006   CCAFS LC-40
4    2013-03-01           No attempt  F9 v1.0  B0007   CCAFS LC-40
..          ...                  ...             ...           ...
96   2020-11-05              Success    F9 B5B1062.1  CCAFS SLC-40
97   2020-11-16              Success   F9 B5B1061.1     KSC LC-39A
98   2020-11-21              Success    F9 B5B1063.1   VAFB SLC-4E
99   2020-11-25              Success  F9 B5 B1049.7   CCAFS SLC-40
100  2020-12-06              Success  F9 B5 B1058.4     KSC LC-39A

[101 rows x 4 columns]

In [41]:
df_9['Date'] = pd.to_datetime(df_9['Date'], format='%Y-%m-%d')

C:\Users\Acer\AppData\Local\Temp\ipykernel_18504\4284667757.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_9['Date'] = pd.to_datetime(df_9['Date'], format='%Y-%m-%d')

In [42]:
df_2015=df_9[df_9['Date'].dt.strftime('%Y')=='2015']

In [43]:
df_2015

         Date         Landing_Outcome Booster_Version  Launch_Site
13 2015-01-10    Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
14 2015-02-11      Controlled (ocean)   F9 v1.1 B1013  CCAFS LC-40
15 2015-03-02              No attempt   F9 v1.1 B1014  CCAFS LC-40
16 2015-04-14    Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40
17 2015-04-27              No attempt   F9 v1.1 B1016  CCAFS LC-40
18 2015-06-28  Precluded (drone ship)   F9 v1.1 B1018  CCAFS LC-40
19 2015-12-22    Success (ground pad)     F9 FT B1019  CCAFS LC-40

In [44]:
df_month_name= df_2015[df_2015['Landing_Outcome']=='Failure (drone ship)']

In [45]:
df_month_name

         Date       Landing_Outcome Booster_Version  Launch_Site
13 2015-01-10  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
16 2015-04-14  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

In [46]:
# Task 10

In [47]:
df_success_outcome= df.loc[(df['Date'] > '2010-06-04') & (df['Date'] < '2017-03-20') & df['Landing_Outcome'].str.contains("Success")]

In [48]:
df_success_outcome['Landing_Outcome'].count()

8